/**
 * 1. Set default font family to sans-serif.
 * 2. Prevent iOS text size adjust after orientation change, without disabling
 *    user zoom.
 */

 *, *:before, *:after
 {
 	box-sizing: border-box;
 }


 html
 {
 	font-family: sans-serif;
	-webkit-text-size-adjust: 100%; /* 2 */
    -ms-text-size-adjust: 100%; /* 2 */
    -webkit-font-smoothing: antialiased; /* Set the anti-alias settings. Alternative: subpixel-antialiased */
    -moz-osx-font-smoothing: grayscale;

    font-size: $browser-default-font-size;
    // height: 100%;
	// @include adjust-font-size-to($base-font-size);

	&.touch
	{
		// overflow: hidden;
		// overflow-y: scroll; /* has to be scroll, not auto */
	// // 	// overflow: scroll;
	// overflow-y: auto;
		// -webkit-overflow-scrolling: touch;
		// height: 100%;
	}
}

/**
 * Remove default margin.
 */

 body
 {
 	margin: 0;
 	padding: 0;
 	// position: relative;

 	color: $text-color;
 	font-family: $base-font-family;
 	font-size: $base-font-size;
 	letter-spacing: normal;

	.touch &
	{

		// overflow: hidden;
		// overflow-y: scroll; /* has to be scroll, not auto */
	// // 	// overflow: hidden;
		// -webkit-overflow-scrolling: touch;
		// height: 100%;
	// 	// white-space: nowrap;
	// overflow-x: scroll;
	// overflow-y: scroll;
	// -webkit-overflow-scrolling: touch;
// overflow-y: auto;
	}

}


/**
 * Correct `block` display not defined in IE 8/9.
 */

 article,
 aside,
 details,
 figcaption,
 figure,
 footer,
 header,
 hgroup,
 main,
 nav,
 section,
 summary
 {
 	display: block;
 }

/**
 * Address `[hidden]` styling not present in IE 8/9.
 * Hide the `template` element in IE, Safari, and Firefox < 22.
 */

 [hidden],
 template
 {
 	display: none;
 }