<link rel="apple-touch-icon" sizes="57x57" href="/images/favicons/apple-touch-icon-57x57.png" />
<link rel="apple-touch-icon" sizes="114x114" href="/images/favicons/apple-touch-icon-114x114.png" />
<link rel="apple-touch-icon" sizes="72x72" href="/images/favicons/apple-touch-icon-72x72.png" />
<link rel="apple-touch-icon" sizes="144x144" href="/images/favicons/apple-touch-icon-144x144.png" />
<link rel="apple-touch-icon" sizes="60x60" href="/images/favicons/apple-touch-icon-60x60.png" />
<link rel="apple-touch-icon" sizes="120x120" href="/images/favicons/apple-touch-icon-120x120.png" />
<link rel="apple-touch-icon" sizes="76x76" href="/images/favicons/apple-touch-icon-76x76.png" />
<link rel="apple-touch-icon" sizes="152x152" href="/images/favicons/apple-touch-icon-152x152.png" />
<link rel="apple-touch-icon" sizes="180x180" href="/images/favicons/apple-touch-icon-180x180.png" />
<meta name="apple-mobile-web-app-title" content="Portfolio" />
<link rel="shortcut icon" href="/images/favicons/favicon.ico" />
<link rel="icon" type="image/png" href="/images/favicons/favicon-192x192.png" sizes="192x192" />
<link rel="icon" type="image/png" href="/images/favicons/favicon-160x160.png" sizes="160x160" />
<link rel="icon" type="image/png" href="/images/favicons/favicon-96x96.png" sizes="96x96" />
<link rel="icon" type="image/png" href="/images/favicons/favicon-16x16.png" sizes="16x16" />
<link rel="icon" type="image/png" href="/images/favicons/favicon-32x32.png" sizes="32x32" />
<meta name="msapplication-TileColor" content="#0074bc" />
<meta name="msapplication-TileImage" content="/images/favicons/mstile-144x144.png" />
<meta name="msapplication-config" content="/images/favicons/browserconfig.xml" />
<meta name="application-name" content="Portfolio" />
<!-- iOS 6 & 7 iPad (retina, portrait) -->
<link href="/images/startup/apple-touch-startup-image-1536x2008.png" media="(device-width: 768px) and (device-height: 1024px) and (orientation: portrait) and (-webkit-device-pixel-ratio: 2)" rel="apple-touch-startup-image" />
<!-- iOS 6 & 7 iPad (retina, landscape) -->
<link href="/images/startup/apple-touch-startup-image-1496x2048.png" media="(device-width: 768px) and (device-height: 1024px) and (orientation: landscape) and (-webkit-device-pixel-ratio: 2)" rel="apple-touch-startup-image" />
<!-- iOS 6 iPad (portrait) -->
<link href="/images/startup/apple-touch-startup-image-768x1004.png" media="(device-width: 768px) and (device-height: 1024px) and (orientation: portrait) and (-webkit-device-pixel-ratio: 1)" rel="apple-touch-startup-image" />
<!-- iOS 6 iPad (landscape) -->
<link href="/images/startup/apple-touch-startup-image-748x1024.png" media="(device-width: 768px) and (device-height: 1024px) and (orientation: landscape) and (-webkit-device-pixel-ratio: 1)" rel="apple-touch-startup-image" />
<!-- iOS 8 iPhone 6 Plus (portrait) -->
<link href="/images/startup/apple-touch-startup-image-1242×2148.png" media="(device-width: 414px) and (device-height: 736px) and (orientation: portrait) and (-webkit-device-pixel-ratio: 3)" rel="apple-touch-startup-image" />
<!--  iOS 8 iPhone 6 (portrait) -->
<link href="/images/startup/apple-touch-startup-image-750×1294.png" media="(device-width: 375px) and (device-height: 667px) and (orientation: portrait) and (-webkit-device-pixel-ratio: 2)" rel="apple-touch-startup-image" />
<!-- iOS 6 & 7 iPhone 5 -->
<link href="/images/startup/apple-touch-startup-image-640x1096.png" media="(device-width: 320px) and (device-height: 568px) and (-webkit-device-pixel-ratio: 2)" rel="apple-touch-startup-image" />
<!-- iOS 6 & 7 iPhone (retina) -->
<link href="/images/startup/apple-touch-startup-image-640x920.png" media="(device-width: 320px) and (device-height: 480px) and (-webkit-device-pixel-ratio: 2)" rel="apple-touch-startup-image" />
<!-- iOS 6 iPhone -->
<link href="/images/startup/apple-touch-startup-image-320x460.png" media="(device-width: 320px) and (device-height: 480px) and (-webkit-device-pixel-ratio: 1)" rel="apple-touch-startup-image" />
