	<footer class="l-footer">
		<div class="l-footer__inner"><h6 class="l-footer__copyright">All content is copyright &copy; <script>document.write(new Date().getFullYear());</script> Patick Cate</h6></div>
	</footer>

	<script src="/js/scripts.min.js"></script>
	{% if page.id == 'contact' %}
	<script src="/js/parsley.min.js"></script>
	{% endif %}
	<!--<script src="/js/init.js"></script>-->

	<!--<script>
	var _gaq=[['_setAccount','UA-7560343-1'],['_trackPageview']];
	(function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
		g.src='//www.google-analytics.com/ga.js';
		s.parentNode.insertBefore(g,s)}(document,'script'));
	</script>