<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{{ page.title }}</title>
    <meta name="description" content="{{ page.description }}">
    <meta name="viewport" content="width=device-width,user-scalable=no,initial-scale=1.0,maximum-scale=1.0">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="author" content="Patrick Cate">
    <meta name="robots" content="all">
    {% include favicons.html %}
    <!-- <link rel="shortcut icon" type="image/x-icon" href="favicon.ico"> -->
    <!-- Custom CSS -->
    <link rel="stylesheet" media="screen" href="css/styles.css">
    <!-- <link rel="stylesheet" media="print" href="css/print.css"> -->
    <!--[if lt IE 9]><script src="js/respond.min.js"></script><![endif]-->
    <script src="js/libs.min.js"></script>
    <script src="js/picturefill.min.js"></script>
    <!-- <script src="js/iscroll.min.js"></script>-->
</head>