	<main class="l-content">
		<div class="l-content__inner">

			<section id="l-anchor--intro" class="l-section l-section--intro">
				<div class="l-section__content">
					<h1 class="text-blue">I'm a <span class="text-green">Graphic</span>/<wbr><span class="text-purple">Interactive</span>/<wbr><span class="text-red">Web</span> Designer and <span class="text-grey">Front-End</span> Developer</h1>
					<h3 class="text-blue">based in the Washington D.C. metro area.</h3>
					<h2 class="leader trailer">Let me take your designs to the next level.</h2>
					<a href="images/pdf/pcate-resume-web.pdf" class="button icon--pdf" target="_blank">View Resumé</a>

				</div>
			</section>


			<section id="l-anchor--about" class="l-section l-section--about">
				<div class="l-section__divider l-section__divider--about"><div class="l-section__icon l-section__icon--about"></div></div>
				<div class="l-section__content">
					<header class="l-section__header"><h2 class="l-section__title"><span class="uppercase">About Me</span> <small class="l-section__subtitle">(What I do)</small></h2></header>
					<ul class="block-grid block-grid--icon-list">
						<li class="block-grid__item">
							<div class="block-grid__icon block-grid__icon--print-design"></div>
							<div class="block-grid__content">
								<h3 class="block-grid__title text-green">Print Design</h3>
								<p>Designing marketing collateral, advertisements, or other visual media, laying out a multi-page book or reports, or creating your brands corporate identity, I do all of it and more. Everything you put your brand on will be tailored to match your company's image and customer market for maximum effectiveness.</p>
							</div>
						</li>
						<li class="block-grid__item">
							<div class="block-grid__icon block-grid__icon--web-design"></div>
							<div class="block-grid__content">
								<h3 class="block-grid__title text-red">Web Design</h3>
								<p>I use the latest tools to design creative and user friendly websites that work on any screen size or device. While other designers and developers see this as something to be tacked on for an additional expense, I don't. There isn't a separate mobile Internet, so why should you have a separate mobile website? With me, you won't.</p>
							</div>
						</li>
					</ul>
				</div>
			</section>


			<section class="l-section l-section--about">
				<div class="l-section__content">
					<ul class="block-grid block-grid--icon-list">
						<li class="block-grid__item js-initially-hidden">
							<div class="block-grid__icon block-grid__icon--drupal-theming"></div>
							<div class="block-grid__content">
								<h3 class="block-grid__title text-blue">Drupal Theming</h3>
								<p>When your website needs a robust CMS like Drupal, I'm your man to create or refine a custom theme that reflects and enhances your brand/product/service. No cookie-cutter themes here. With a strong background in Drupal theming I know the in's and out's of the architecture needed to create an exceptional site design that doesn't compromise the speed and security that Drupal has built in.</p>
							</div>
						</li>
						<li class="block-grid__item js-initially-hidden">
							<div class="block-grid__icon block-grid__icon--identity-design"></div>
							<div class="block-grid__content">
								<h3 class="block-grid__title text-purple">Brand Identity</h3>
								<p>A picture is worth a thousands words, and your company's logo can be worth much more. I work closely to craft a logo and overall brand identity that reflects the purpose and image you want to project. This often requires close collaboration and research of target markets and competitors, you'll get that from me and more.</p>
							</div>
						</li>
					</ul>
				</div>
			</section>


			<section class="l-section l-section--about">
				<div class="l-section__content">
					<ul class="block-grid block-grid--icon-list">
						<li class="block-grid__item js-initially-hidden">
							<div class="block-grid__icon block-grid__icon--app-design"></div>
							<div class="block-grid__content">
								<h3 class="block-grid__title text-grey">App UI Design</h3>
								<p>Sometimes a product or service requires the tight integration and speed of a smartphone or tablet hardware. In those cases an easy to use interface that provides a positive and memorable user experience can be the difference between an app store failure and success. I design the latter. </p>
							</div>
						</li>
						<li class="block-grid__item js-initially-hidden">
							<div class="block-grid__icon block-grid__icon--email-design"></div>
							<div class="block-grid__content">
								<h3 class="block-grid__title text-orange">E-Mail Design</h3>
								<p>E-Mail isn't dead, it just needs a recharge. Whether viewing on your phone, tablet, or desktop, I design e-mail templates that look good in all of them and match your brand and target audience perfectly. Make your e-mail too good looking to end up in a junk folder.</p>
							</div>
						</li>
					</ul>
				</div>
			</section>



			<section id="l-anchor--skills" class="l-section l-section--skills">
				<div class="l-section__divider l-section__divider--skills"><div class="l-section__icon l-section__icon--skills"></div></div>
				<div class="l-section__content">
					<header class="l-section__header"><h2 class="l-section__title"><span class="uppercase">Skills</span> <small class="l-section__subtitle">(What I’m Good At)</small></h2></header>
					<div class="block-grid block-grid--skills">
						<div class="block-grid__item js-initially-hidden">
							<h4 class="list--column__header">Print</h4>
							<div class="list--column">
								<ul class="list--column__item">
									<li>Brochures</li>
									<li>Books</li>
									<li>Reports</li>
									<li>Posters</li>
									<li>Logos</li>
									<li>Direct Mailing Items</li>
									<li>Visual Aids</li>
								</ul>
								<ul class="list--column__item">
									<li>Infographics</li>
									<li>Manuals</li>
									<li>Corporate Identity</li>
									<li>Business Cards</li>
									<li>Letterhead</li>
									<li>Magazines</li>
									<li>Newsprint Ads</li>
								</ul>
							</div>
						</div>
						<div class="block-grid__item js-initially-hidden">
							<h4 class="list--column__header">Web</h4>
							<div class="list--column">
								<ul class="list--column__item">
									<li>HTML</li>
									<li>CSS</li>
									<li>JavaScript</li>
									<li>JQuery</li>
									<li>PHP</li>
								</ul>
								<ul class="list--column__item">
									<li>SASS</li>
									<li>Responsive Web Design</li>
									<li>Git and Subversion</li>
									<li>Drupal Theming</li>
									<li>Jekyll Template Design</li>
								</ul>
							</div>
						</div>
					</div>
				</section>


				<section id="l-anchor--tools" class="l-section l-section--tools">
					<div class="l-section__divider l-section__divider--tools"><div class="l-section__icon l-section__icon--tools"></div></div>
					<div class="l-section__content">
						<header class="l-section__header"><h2 class="l-section__title"><span class="uppercase">Tools</span> <small class="l-section__subtitle">(What I work with)</small></h2></header>
						<div class="block-grid block-grid--tools">
							<div class="block-grid__item js-initially-hidden">
								<div class="list--column">
									<h4 class="list--column__header">Design</h4>
									<ul class="list--column__item">
										<li>Photoshop</li>
										<li>Illustrator</li>
										<li>InDesign</li>
										<li>InCopy</li>
										<li>Dreamweaver</li>
										<li>Acrobat</li>
									</ul>
								</div>
							</div>
							<div class="block-grid__item js-initially-hidden">
								<div class="list--column">
									<h4 class="list--column__header">Development</h4>
									<ul class="list--column__item">
										<li>Sublime Text</li>
										<li>Gulp</li>
										<li>Grunt</li>
										<li>Bitbucket</li>
										<li>Github</li>
										<li>MAMP</li>
									</ul>
								</div>
							</div>
							<div class="block-grid__item js-initially-hidden">
								<div class="list--column">
									<h4 class="list--column__header">Productivity</h4>
									<ul class="list--column__item">
										<li>Microsoft Word</li>
										<li>Microsoft Powerpoint</li>
										<li>Apple Pages</li>
										<li>Apple Keynote</li>
										<li>Evernote</li>
										<li>Dropbox</li>
										<li>Google Drive</li>
									</ul>
								</div>
							</div>
						</div>
					</div>
				</section>


				<section id="l-anchor--work" class="l-section l-section--work">
					<div class="l-section__divider l-section__divider--tools"><div class="l-section__icon l-section__icon--work"></div></div>
					<div class="l-section__content">
						<header class="l-section__header"><h2 class="l-section__title"><span class="uppercase">My Work</span> <small class="l-section__subtitle">(What I've Done)</small></h2></header>
						<article class="gallery">
							<div class="gallery__content">

								<!-- 	<figure class="portfolio-piece__figure"> --><div class="gallery__thumbnail">
								<a href="images/wavewear/wavewear-logo--large.png" class="lightbox-popup js-initially-hidden">
									<img src="images/wavewear/wavewear-logo.png" class="img" alt="Wavewear Logo">
								</a>
							</div>
							<!-- <figcaption class="portfolio-piece__figcaption"></figcaption> -->
							<!-- </figure> -->

							<h3 class="gallery__title">Wavewear</h3>
							<h5 class="gallery__category--identity">Brand Identity</h5>
							<p>Logo created for the <em>Wavewear</em> clothing brand. The California brand primary targets those emersed or interested in the surf boarding scene and other water sports. The brand's line includes a variety of shirt and short designs, as well as wetsuits, surf tops, and other swim wear. The company also supplements their clothing line with branded accessories such as surfboard bags, fins, and decals.</p>
						</div>
						<div class="thumbnail-grid clear">
							<div class="thumbnail-grid__item js-initially-hidden">
								<a href="images/wavewear/wavewear-white-shirt--large.jpg" class="img-border lightbox-popup">
									<img src="images/wavewear/wavewear-white-shirt.jpg" class="img" alt="Wavewear ">
								</a>
							</div>
							<div class="thumbnail-grid__item js-initially-hidden">
								<a href="images/wavewear/wavewear-black-shirt--large.jpg" class="img-border lightbox-popup">
									<img src="images/wavewear/wavewear-black-shirt.jpg" class="img" alt="Wavewear T-Shirt">
								</a>
							</div>
							<div class="thumbnail-grid__item js-initially-hidden">
								<a href="images/wavewear/wavewear-blue-shirt--large.jpg" class="img-border lightbox-popup">
									<img src="images/wavewear/wavewear-blue-shirt.jpg" class="img" alt="Wavewear  T-Shirt">
								</a>
							</div>
							<div class="thumbnail-grid__item js-initially-hidden">
								<a href="images/wavewear/wavewear-surf-boards--large.jpg" class="img-border lightbox-popup">
									<img src="images/wavewear/wavewear-surf-boards.jpg" class="img" alt="Wavewear Surfboards">
								</a>
							</div>
						</div>

					</article>
				</div>

			</section>



			<section class="l-section l-section--work">
				<div class="l-section__content">
					<article class="gallery gallery--alt">
						<div class="gallery__content">
							<div class="gallery__thumbnail">
								<!-- 	<figure class="portfolio-piece__figure"> -->
								<a href="images/living-light/living-light--large.png" class="lightbox-popup js-initially-hidden">
									<img src="images/living-light/living-light.png" class="img" alt="Living Light">
								</a>
								<!-- <figcaption class="portfolio-piece__figcaption"></figcaption> -->
								<!-- </figure> -->
							</div>

							<h3 class="gallery__title">Living Light Exhibition</h3>
							<h5 class="gallery__category--print">Print</h5>
							<p>Poster advertising the &ldquo;Living Light&rdquo; exhibition at the <em>Museum of Ordinary Things</em> in New York City. The exhibit showcases artists from around the world as they created art which melded luminous objects with organic forms and shapes. The museum focuses on artwork which incorporates everyday objects to create visually interesting and thought-provoking works of art.</p>
						</div>
					</article>
				</div>
			</section>










			<section class="l-section l-section--work">
				<div class="l-section__content">
					<article class="gallery">
						<div class="gallery__content">
							<div class="gallery__thumbnail">
								<a href="images/cake-bites/cake-bites-logo--large.png" class="lightbox-popup js-initially-hidden">
									<img src="images/cake-bites/cake-bites-logo.png" class="img" alt="Custom Cake Bites">
								</a>
							</div>

							<h3 class="gallery__title">Custom Cake Bites</h3>
							<h5 class="gallery__category--identity">Brand Identity<span class="text-black">/</span><span class="text-red">Web Design</span></h5>
							<p>Logo and corporate identity package for the Custom Cake Bites company based in the D.C. metro area. Apart from the logo design, the package included branded letterhead, envelopes, presentation folders, business cards for employees, and DVD covers for media distribution. A separate project overhauled the company's website to include a complementary design which worked equally well on mobile devices as it would on desktops, and integrated an online ordering system.</p>
						</div>

						<div class="thumbnail-grid">
							<div class="thumbnail-grid__item js-initially-hidden">
								<a href="images/cake-bites/cake-bites-letterhead--large.jpg" class="img-border lightbox-popup">
									<img src="images/cake-bites/cake-bites-letterhead.jpg" class="img" alt="Custom Cake Bites">
								</a>
							</div>
							<div class="thumbnail-grid__item js-initially-hidden">
								<a href="images/cake-bites/cake-bites-business-card--large.jpg" class="img-border lightbox-popup">
									<img src="images/cake-bites/cake-bites-business-card.jpg" class="img" alt="Custom Cake Bites">
								</a>
							</div>
							<div class="thumbnail-grid__item js-initially-hidden">
								<a href="images/cake-bites/cake-bites-ipad--large.jpg" class="img-border lightbox-popup">
									<img src="images/cake-bites/cake-bites-ipad.jpg" class="img" alt="Custom Cake Bites">
								</a>
							</div>
							<div class="thumbnail-grid__item js-initially-hidden">
								<a href="images/cake-bites/cake-bites-envelope--large.jpg" class="img-border lightbox-popup">
									<img src="images/cake-bites/cake-bites-envelope.jpg" class="img" alt="Custom Cake Bites">
								</a>
							</div>

						</div>

					</article>
				</div>
			</section>



			<section class="l-section l-section--work">
				<div class="l-section__content">
					<article class="gallery">
						<div class="gallery__content">
							<div class="gallery__thumbnail">
								<a href="images/baskerville/baskerville-poster--large.jpg" class="lightbox-popup js-initially-hidden">
									<img src="images/baskerville/baskerville-poster.png" class="img" alt="Baskerville Poster">
								</a>
							</div>

							<h3 class="gallery__title">Baskerville Poster</h3>
							<h5 class="gallery__category--print">Print</h5>
							<p>Typographical poster highlighting the unique elements of the Baskerville typeface such as the capital &ldquo;Q&rdquo;, lowercase &ldquo;g&rdquo;, and italic capital &ldquo;J&rdquo;. The 2-sided poster includes examples of the typeface's various weights and styles as well as a brief history of the typeface and its creator John Baskerville.</p>
						</div>
						<a href="images/baskerville/baskerville-poster-1--large.jpg" class="hide lightbox-popup"></a>
						<a href="images/baskerville/baskerville-poster-2--large.jpg" class="hide lightbox-popup"></a>

					</article>
				</div>
			</section>



			<section class="l-section l-section--work">
				<div class="l-section__content">
					<article class="gallery">
						<div class="gallery__content">
							<div class="gallery__thumbnail">
								<!-- <a href="images/muse-mix/muse-mix-1--large.jpg" class="lightbox-popup "> -->
								<img src="images/muse-mix/muse-mix.png" class="img js-initially-hidden" alt="Muse Mix">
								<!-- </a> -->
							</div>

							<h3 class="gallery__title">Muse Mix</h3>
							<h5 class="gallery__category--web">Web Design</h5>
							<p>Design for the Muse Mix website. The music discovery site highlights 5 different music tracks from 5 different artists each week. Each page features a unique design to reflect the style an attitude of the particular artist. Each artist page includes a brief bio and artist images, as well as the sample musical track.
							</p>
						</div>

						<div class="thumbnail-grid">
							<div class="thumbnail-grid__item js-initially-hidden">
								<a href="images/muse-mix/muse-mix-1--large.jpg" class="img-border lightbox-popup">
									<img src="images/muse-mix/muse-mix-1.jpg" class="img" alt="Muse Mix">
								</a>
							</div>
							<div class="thumbnail-grid__item js-initially-hidden">
								<a href="images/muse-mix/muse-mix-2--large.jpg" class="img-border lightbox-popup">
									<img src="images/muse-mix/muse-mix-2.jpg" class="img" alt="Muse Mix">
								</a>
							</div>
							<div class="thumbnail-grid__item js-initially-hidden">
								<a href="images/muse-mix/muse-mix-3--large.jpg" class="img-border lightbox-popup">
									<img src="images/muse-mix/muse-mix-3.jpg" class="img" alt="Muse Mix">
								</a>
							</div>
							<div class="thumbnail-grid__item js-initially-hidden">
								<a href="images/muse-mix/muse-mix-4--large.jpg" class="img-border lightbox-popup">
									<img src="images/muse-mix/muse-mix-4.jpg" class="img" alt="Muse Mix">
								</a>
							</div>

						</div>

					</article>
				</div>
			</section>






			<section class="l-section l-section--work">
				<div class="l-section__content">
					<article class="gallery">
						<div class="gallery__content">
							<div class="gallery__thumbnail">
								<a href="images/jekyll-hyde/jekyll-hyde-1--large.jpg" class="lightbox-popup js-initially-hidden">
									<img src="images/jekyll-hyde/jekyll-hyde.png" class="img" alt="Dr. Jekyll and Mr. Hyde">
								</a>
							</div>

							<h3 class="gallery__title">Jekyll and Hyde</h3>
							<h5 class="gallery__category--print">Print</h5>
							<p>Book cover for a new edition of the <em>Robert Louis Stevenson</em> classic &ldquo;The Strange Case of Dr. Jekyll and Mr. Hyde&rdquo;. The design features Dr. Jekyll's alter ego manifested as his cast shadow as he walks down a London street. Because of the print budget for the run of this edition, the cover was designed to have great visual impact when printed in black and white.</p>
						</div>

						<a href="images/jekyll-hyde/jekyll-hyde-2--large.jpg" class="hide lightbox-popup"></a>

					</article>
				</div>
			</section>




			<section class="l-section l-section--work">
				<div class="l-section__content">
					<article class="gallery">
						<div class="gallery__content">
							<div class="gallery__thumbnail">
								<a href="images/relic/relic-1--large.jpg" class="lightbox-popup ">
									<img src="images/relic/relic-1.jpg" class="img js-initially-hidden" alt="Relic Magazine Cover">
								</a>
							</div>

							<h3 class="gallery__title">Relic Magazine</h3>
							<h5 class="gallery__category--print">Print</h5>
							<p>Layout and logo design for <em>Relic</em> magazine. The monthly magazine covers the world of archeology with a fresh mainstream and media-rich point-of-view. Rather than scholarly journal articles, Relic explains the subject which accommodates a mainstream audience without altering the facts or analysis. In particular it seeks to explain different ancient technologies, cultures and historical events, and how particular discoveries affect our modern world</p>
						</div>

						<div class="thumbnail-grid">
							<div class="thumbnail-grid__item js-initially-hidden">
								<a href="images/relic/relic-2--large.jpg" class="img-border lightbox-popup">
									<img src="images/relic/relic-2.jpg" class="img" alt="Relic Magazine">
								</a>
							</div>
							<div class="thumbnail-grid__item js-initially-hidden">
								<a href="images/relic/relic-3--large.jpg" class="img-border lightbox-popup">
									<img src="images/relic/relic-3.jpg" class="img" alt="Relic Magazine">
								</a>
							</div>
							<div class="thumbnail-grid__item js-initially-hidden">
								<a href="images/relic/relic-4--large.jpg" class="img-border lightbox-popup">
									<img src="images/relic/relic-4.jpg" class="img" alt="Relic Magazine">
								</a>
							</div>
													<!-- 	<div class="thumbnail-grid__item js-initially-hidden">
															<a href="images/muse-mix/muse-mix-4--large.jpg" class="img-border lightbox-popup">
																<img src="images/muse-mix/muse-mix-4.jpg" class="img" alt="">
															</a>
														</div> -->

													</div>

												</article>
											</div>
										</section>

										<section class="l-section l-section--work">
											<div class="l-section__content">
												<article class="gallery">
													<div class="gallery__content">
														<div class="gallery__thumbnail">
															<a href="images/spy-tv/spy-tv-1--large.jpg" class="lightbox-popup js-initially-hidden">
																<img src="images/spy-tv/spy-tv-1.jpg" class="img" alt="Spy TV">
															</a>
														</div>

														<h3 class="gallery__title">Spy TV</h3>
														<h5 class="gallery__category--print">Print</h5>
														<p>Brochure for the SpyTV television network, a channel which features movies and television shows with spy themes and espionage in the subject matter. The brochure promotes the channel as well as several of the original shows in their upcoming 2014 fall lineup. Local cable channel information is also included as well as general contact information.</p>
													</div>

													<div class="thumbnail-grid">
														<div class="thumbnail-grid__item js-initially-hidden">
															<a href="images/spy-tv/spy-tv-2--large.jpg" class="img-border lightbox-popup">
																<img src="images/spy-tv/spy-tv-2.jpg" class="img" alt="Spy TV">
															</a>
														</div>
														<div class="thumbnail-grid__item js-initially-hidden">
															<a href="images/spy-tv/spy-tv-3--large.jpg" class="img-border lightbox-popup">
																<img src="images/spy-tv/spy-tv-3.jpg" class="img" alt="Spy TV">
															</a>
														</div>
														<div class="thumbnail-grid__item js-initially-hidden">
															<a href="images/spy-tv/spy-tv-4--large.jpg" class="img-border lightbox-popup">
																<img src="images/spy-tv/spy-tv-4.jpg" class="img" alt="Spy TV">
															</a>
														</div>
														<div class="thumbnail-grid__item js-initially-hidden">
															<a href="images/spy-tv/spy-tv-5--large.jpg" class="img-border lightbox-popup">
																<img src="images/spy-tv/spy-tv-5.jpg" class="img" alt="Spy TV">
															</a>
														</div>

													</div>

												</article>
											</div>
										</section>





										<section class="l-section l-section--work">
											<div class="l-section__content">
												<article class="gallery">
													<div class="gallery__content">
														<div class="gallery__thumbnail">
															<div class="img-border js-initially-hidden">
																<img src="images/tokyo/tokyo-1.png" class="img" alt="Tokyo Travel">
															</div>
														</div>

														<h3 class="gallery__title">Tokyo Travel</h3>
														<h5 class="gallery__category--print">Print</h5>
														<p>8-panel accordion brochure which highlights for English visitors several of Tokyo's famous districts and what makes each unique. Each panel is devoted to a specific district and features a QR code which when scanned opens up a map of the district in a smartphone or other mobile device.</p>
													</div>

													<div class="thumbnail-grid">
														<div class="thumbnail-grid__item js-initially-hidden">
															<a href="images/tokyo/tokyo-2--large.jpg" class="img-border lightbox-popup">
																<img src="images/tokyo/tokyo-2.jpg" class="img" alt="Tokyo Travel">
															</a>
														</div>
														<div class="thumbnail-grid__item js-initially-hidden">
															<a href="images/tokyo/tokyo-3--large.jpg" class="img-border lightbox-popup">
																<img src="images/tokyo/tokyo-3.jpg" class="img" alt="Tokyo Travel">
															</a>
														</div>
														<div class="thumbnail-grid__item js-initially-hidden">
															<a href="images/tokyo/tokyo-4--large.jpg" class="img-border lightbox-popup">
																<img src="images/tokyo/tokyo-4.jpg" class="img" alt="Tokyo Travel">
															</a>
														</div>
														<div class="thumbnail-grid__item js-initially-hidden">
															<a href="images/tokyo/tokyo-5--large.jpg" class="img-border lightbox-popup">
																<img src="images/tokyo/tokyo-5.jpg" class="img" alt="Tokyo Travel">
															</a>
														</div>

													</div>

												</article>
											</div>
										</section>

										<section class="l-section l-section--work">
											<div class="l-section__content">
												<article class="gallery">
													<div class="gallery__content">
														<div class="gallery__thumbnail">
															<a href="images/zen-garden/zen-garden--large.jpg" class="lightbox-popup js-initially-hidden">
																<img src="images/zen-garden/zen-garden.png" class="img" alt="CSS Zen Garden">
															</a>
														</div>

														<h3 class="gallery__title">CSS Zen Garden</h3>
														<h5 class="gallery__category--web">Web Design</h5>
														<p>A responsive site theme for the popular CSS Zen Garden website, which promotes the use and abilities of CSS to style websites and separate style from content. The underwater site theme was made by solely changing the CSS included on the page, with no HTML alterations from the stock markup provided by the site. The site was designed fully responsive to look as well on mobile devices and tablets as on large desktop screens.</p>
													</div>

												</article>
											</div>
										</section>

										<section class="l-section l-section--work">
											<div class="l-section__content">
												<article class="gallery">
													<div class="gallery__content">
														<div class="gallery__thumbnail">
															<a href="images/renwick/renwick-1--large.jpg" class="img-border lightbox-popup js-initially-hidden">
																<img src="images/renwick/renwick-1.jpg" class="img" alt="Renwick Gallery">
															</a>
														</div>

														<h3 class="gallery__title">Renwick Gallery</h3>
														<h5 class="gallery__category--print">Print</h5>
														<p>Brochure advertising the Renwick American Art Museum in Washington, D.C. The brochure highlights the museum’s history and exhibits, as well as tour information and directions. All photos are of pieces currently on display at the museum. The cover features one of the museum's most popular pieces &ldquo;Game Fish&rdquo;</p>
													</div>

													<div class="thumbnail-grid">
														<div class="thumbnail-grid__item js-initially-hidden">
															<a href="images/renwick/renwick-2--large.jpg" class="img-border lightbox-popup">
																<img src="images/renwick/renwick-2.jpg" class="img" alt="Renwick Gallery">
															</a>
														</div>
														<div class="thumbnail-grid__item js-initially-hidden">
															<a href="images/renwick/renwick-3--large.jpg" class="img-border lightbox-popup">
																<img src="images/renwick/renwick-3.jpg" class="img" alt="Renwick Gallery">
															</a>
														</div>


													</div>

												</article>
											</div>
										</section>



										<section id="l-anchor--contact" class="l-section l-section--contact">
											<div class="l-section__divider l-section__divider--contact"><div class="l-section__icon l-section__icon--contact"></div></div>
											<div class="l-section__content">
												<header class="l-section__header"><h2 class="l-section__title"><span class="uppercase">Contact Me</span> <small class="l-section__subtitle">(How you can hire me)</small></h2></header>

												<form action="" class="form">
													<p>You can contact me directly by filling out the form below:</p>
													<div class="form__item">
														<label class="form__label">Your Name:</label>
														<input type="textfield" class="form__element form__textfield">
													</div>
													<div class="form__item">
														<label class="form__label">Your E-Mail:</label>
														<input type="textfield" class="form__element form__textfield">
													</div>
													<div class="form__item">
														<label class="form__label form__label--textarea">Message:</label>
														<textarea class="form__element form__textarea"></textarea>
													</div>
													<div class="form__item">
														<div class="form__label"></div>
														<button class="form__element form__button" onClick="alert('Successfully Sent!');return false;">Submit</button>
													</div>
												</form>
											</div>
										</section>





									</div>
								</div>
							</main>
