// Color Support Settings

$text-color: #444;

// Default Text Colors

// $light-blue: #EEF9FF;
// $blue: #0050A9;
// $blue: #007ABB;

$blue: #0074bc;
$dark-blue: #063b70;

$green: #2ba52b;
$light-green: tint($green, 20%);
$dark-green: shade($green, 20%);

$red: #b51414;
$light-red: tint($red, 20%);
$dark-red: shade($red, 20%);

$orange: #d46611;
$light-orange: tint($orange, 20%);
$dark-orange: shade($orange, 20%);

$gold: #ffc600;
$light-gold: tint($gold, 25%);
$dark-gold: shade($gold, 25%);

$light-grey: #999;
$grey: #466068;

$dark-grey: #444;

$light-biege: tint(#d2c5a6, 25%);
$biege: #d2c5a6;
$biege: shade(tint($gold, 80%), 15%);

$white: #fff;
$black: #000;
$selection: #cfedff;

$purple: #5028a3;

// Layout Background Colors
$body-background-color: #f5f5f5;
$login-background-color: #3a4e5e;
$header-background-color: #f0f0f0;
$content-background-color: #f0f0f0;
$footer-background-color: #015377;


// Layout Border Colors
$body-border-color: #bbb;
$content-border-color: #d9d9d9;

$image-border-color: tint($light-grey, 25%);
