$textfield-shadow: inset 1px 1px 0 #f0f0f0;
$textfield-border-color: #c3c3c3;
$textfield-border-top-color: #7c7c7c;
$textfield-border-bottom-color: #dddddd;

$label-width: 35%;
$min-label-width: 120px;
$max-label-width: 260px;

$textfield-width: 55%;
$min-textfield-width: 160px;
$max-textfield-width: 300px;

$email-field-width: $textfield-width;
$min-email-field-width: $min-textfield-width;
$max-email-field-width: $max-textfield-width;

$name-field-width: 45%;
$min-name-field-width: 160px;
$max-name-field-width: 260px;

$tel-field-width: 40%;
$min-tel-field-width: 160px;
$max-tel-field-width: 200px;

$street-field-width: $textfield-width;
$min-street-field-width: $min-textfield-width;
$max-street-field-width: $max-textfield-width;

$street2-field-width: $street-field-width;
$min-street2-field-width: $min-street-field-width;
$max-street2-field-width: $max-street-field-width;

$city-field-width: $name-field-width;
$min-city-field-width: $min-name-field-width;
$max-city-field-width: $max-name-field-width;

$zip-field-width: 10%;
$min-zip-field-width: 80px;
$max-zip-field-width: 20%;

$zip4-field-width: 5%;
$min-zip4-field-width: 60px;
$max-zip4-field-width: 10%;

$password-field-width: $name-field-width;
$min-password-field-width: $min-name-field-width;
$max-password-field-width: $max-name-field-width;

$file-field-width: 160px;
$min-file-field-width: 100%;
$max-file-field-width: none;

$title-field-width: $name-field-width;
$min-title-field-width: $min-name-field-width;
$max-title-field-width: $max-name-field-width;

$search-field-width: 60%;
$twitter-field-width: 60%;

$description-width: 100%;

$select-width: auto;
$min-select-width: 0;
$max-select-width: 300px;

$textarea-width: $textfield-width;
$min-textarea-width: $min-textfield-width;
$max-textarea-width: $max-textfield-width;
