$border-box-sizing: true;
// $breakpoint-to-ems: false;

$container-style: magic;
$total-columns: 24;

// $column-width: rhythm(.5);
$column-width: $base-line-height;
$gutter-width: $column-width;

$grid-padding: $gutter-width;
$half-grid-padding: $grid-padding / 2;
$quarter-grid-padding: $grid-padding / 4;
$eighth-grid-padding: $grid-padding / 8;

// $breakpoint-list: 'tiny', 'small', 'medium', 'large', 'huge';
$breakpoint: (
  'default media': all,
  'default feature': min-width,
  'default pair': width,

  'force all media type': false,
  'to ems': false,
  'transform resolutions': true,

  'no queries': false,
  'no query fallbacks': false,

  'base font size': $base-font-size,

  'legacy syntax': false
);

$break-tiny: convert-length(360px, rem);
$break-small: convert-length(480px, rem);
$break-medium: convert-length(600px, rem);
$break-large: convert-length(800px, rem);
$break-huge: convert-length(920px, rem);
// $break-huge: 960px;
$break-retina: min-resolution 1.5dppx;

$susy: (
    // the basics
    columns: $total-columns,
    gutters: $gutter-width / $column-width,
    column-width: $column-width,
    global-box-sizing: border-box,
    gutter-position: before,

    // advanced
    container: $break-large,
    math: fluid,
    flow: ltr,
    last-flow: from,
);
