$section-icon-size: 50px;
$logo-size--small: 50px;
$logo-size--medium: 75px;

$small-icon: 70px;
$medium-icon: 75px;
// $logo-size--large: 75px;


$k8ticons:
(
    icon--pdf: \e603,
    icon--send: \e604,
    icon--download: \e605,
    icon--required: \e609,
    icon--checkmark: \e607,
    icon--refresh: \e608,
    icon--delete: \e606
);
