$default-border-radius: 6px;
$photo-border: 5px;
$photo-size--tiny: 100px;
$photo-size--small: 160px;
$photo-size--medium: 240px;
$photo-size--large: 320px;

$drop-shadow: 0 2px 8px 0 rgba($black, 0.5);
$lightbox-shadow: 0 2px 8px 0 $black;
