// Typography Support Settings

$browser-default-font-size: 100%;
$base-font-size: 16px;
$base-line-height: 20px;

$relative-font-sizing: false;
$round-to-nearest-half-line: true;

$base-font-family: 'Avenir', 'Helvetica Neue', Helvetica, Arial, sans-serif;
// $base-font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
$condensed-font: 'Avenir Condensed', 'HelveticaNeue-CondensedBold', 'Helvetica Neue Condensed Bold', 'Arial Narrow', 'Helvetica Neue', Helvetica, Arial, sans-serif;
$sans-serif-font: $base-font-family;
$serif-font: Georgia, 'Times New Roman', Times, serif;
$mono-font: Courier, 'Courier New', monospace;
$icon-font: 'k8ticon';

$hero-font-size: 68px;
// $h1-font-size: 48px;

$font-weight-normal: 500;
$font-weight-bold: 600;
$font-weight-normal: normal;
$font-weight-bold: bold;

// $h2-font-size: 34px;

$h1-font-size: 42px;
$h1-line-height: 42px;
$h1-font-size--small: 30px;
$h1-line-height--small: 32px;

$h2-font-size: 30px;
$h2-line-height: 32px;
$h2-font-size--small: 24px;
$h2-line-height--small: 26px;

$h3-font-size: 24px;
$h3-line-height: 26px;
$h3-font-size--small: 20px;
$h3-line-height--small: 22px;


$h4-font-size: 20px;
$h4-line-height: 22px;
$h4-font-size--small: $base-font-size;
$h4-line-height--small: $base-line-height;

$h5-font-size: $base-font-size;
$h5-line-height: $base-line-height;


$h6-font-size: 13px;
$h6-line-height: 16px;

$small-font-size: $h6-font-size;
$small-line-height: $h6-line-height;

$p-font-size: $base-font-size;
$p-line-height: $base-line-height;
$p-font-size--large: 16px;
$p-line-height--large: 23px;

$hero-line-height: 70px;
// $h1-line-height: 52px;
// $h2-line-height: 39px;

















// The amount lists and blockquotes are indented.
// $indent-amount: convert-length($grid-padding * 2, em);

$inset-light-text: 0 -1px 0 rgba(#000, .85);
$inset-dark-text: 0 1px 0 #fff;
$drop-text-shadow: 0 1px 0 rgba(#000, .85);