// Shortcut mixin to apply border-box sizing

@mixin border-box
{
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;

	// @if $legacy-support-for-ie6 or $legacy-support-for-ie7
	// {
	// 	*behavior: stylesheet-url("/sites/all/themes/numbersusa_com/js/boxsizing.php");
	// }
}