// Custom clearfix

@mixin clearfix
{
	&:before, &:after
	{
		content: " ";
		display: table;
		height: 0;
		visibility: hidden;
		overflow: hidden;
	}

	&:after
	{
		clear: both;
	}

	@if $legacy-support-for-ie6 or $legacy-support-for-ie7
	{
		*zoom: 1;
	}

}