// Custom clearfix

@mixin clearfix {
  &::after,
  &::before {
    display: table;
    visibility: hidden;
    overflow: hidden;
    height: 0;
    content: '';
  }

  &::after {
    clear: both;
  }
}
