// Shortcut mixin to apply font-size with optional line-height

@mixin font-size($font-size)
{
	$f-sizes: $h1-font-size, $h2-font-size, $h3-font-size, $h4-font-size, $h5-font-size, $h6-font-size, $p-font-size, $small-font-size;
	$l-sizes: $h1-line-height, $h2-line-height, $h3-line-height, $h4-line-height, $h5-line-height, $h6-line-height, $p-line-height, $small-line-height;

	@each $size in $f-sizes
	{
		@if($font-size == $size)
		{
			@debug $size;
			font-size: $size;
			line-height: nth($l-sizes, index($f-sizes, $size));
		}
	}
}