// Shortcut mixin to apply idented margin-left or padding-left.

@mixin indented($type: margin, $size: full)
{
	@if ($type == margin)
	{
		@if ($size == full)
		{
			margin-left: $indent-amount;
		}

		@else if ($size == half)
		{
			margin-left: $indent-amount / 2;
		}
	}

	@else if ($type == padding)
	{
		@if ($size == full)
		{
			padding-left: $indent-amount;
		}

		@else if ($size == half)
		{
			padding-left: $indent-amount / 2;
		}
	}
}