// Shortcut mixin to calculate line height with padding

@mixin line-padding($line-numbers: 1, $border-height: 0, $font-size: $base-font-size, $padding-left: 0, $padding-right: 0)
{
	@if $border-height == 0
	{
		$padding: ((($base-line-height * $line-numbers) - $font-size) - $border-height) / 2;
		line-height: convert-length($font-size, em);
		padding: $padding $padding-left $padding $padding-right;

	}

	@else if $border-height != 0
	{
		$padding: ((($base-line-height * $line-numbers) - $font-size) - $border-height) / 2;
		line-height: convert-length($font-size, em);
		padding: $padding $padding-left $padding $padding-right;
	}
}