// Shortcut mixin to generate linear gradient css

@mixin linear-gradient($G1, $G2)
{
	background-color: mix($G1, $G2, 50%);
	@if $support-for-original-webkit-gradients
	{
		background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%,$G1), color-stop(100%,$G2));
	}
	background-image: -webkit-linear-gradient(top, $G1 0%, $G2 100%);
	background-image: -moz-linear-gradient(top, $G1 0%, $G2 100%);

	@if $experimental-support-for-opera
	{
		background-image: -o-linear-gradient(top, $G1 0%, $G2 100%);
	}

	background-image: -ms-linear-gradient(top, $G1 0%, $G2 100%);
	background-image: linear-gradient(to bottom, $G1 0%, $G2 100%);
}