%icon--before
{
	&:before
	{
		display: inline-block;
		margin-right: $quarter-grid-padding + ($quarter-grid-padding / 2);
		vertical-align: baseline;
		text-decoration: none;
		text-transform: none;
		font-family: $icon-font;
		font-weight: normal;
		font-style: normal;
		line-height: 1;
		speak: none;
	}
}

%icon--pdf
{
	&:before
	{
		@extend %icon--before;
		content: '\e603';
	}
}

%icon--send
{
	&:before
	{
		@extend %icon--before;
		content: '\e604';
	}
}

%icon--download
{
	&:before
	{
		@extend %icon--before;
		content: '\e605';
	}
}

%icon--required
{
	&:before
	{
		@extend %icon--before;
		content: '\e609';
	}
}

%icon--checkmark
{
	&:before
	{
		@extend %icon--before;
		content: '\e607';
	}
}

%icon--refresh
{
	&:before
	{
		@extend %icon--before;
		content: '\e608';
	}
}

%icon--delete
{
	&:before
	{
		@extend %icon--before;
		content: '\e606';
	}
}
