
%hero-text
{
	font-size: $hero-font-size;
}

%h1
{
	font-size: $h1-font-size;
	line-height: $h1-line-height;
	margin-bottom: 0;
}

%h2
{
	font-size: $h2-font-size;
	line-height: $h2-line-height;
	margin-bottom: 0px;
}

%h3
{
	font-size: $h3-font-size;
	line-height: $h3-line-height;
	margin-bottom: 0;
}

%h4
{
	font-size: $h4-font-size;
	line-height: $h4-line-height;
}

%h5
{
	font-size: $h5-font-size;
	line-height: $h5-line-height;
}

%h6
{
	font-size: $h6-font-size;
	line-height: $h6-line-height;
}

%p
{
	font-size: $p-font-size;
	line-height: $p-line-height;
}

%drop-cap
{
	&:first-of-type
	{
		&:first-letter
		{
			font-size: 60px;
			line-height: 38px;
			padding-top: 8px;
			padding-right: 2px;
			float: left;
		}
	}
}