// Alert Component

.alert
{
	// display: none;
	color: $white;
	// font-weight: bold;
	border-radius: $default-border-radius / 2;
	padding: $half-grid-padding;
	margin-bottom: $grid-padding;

	&:before
	{
		@extend %icon--before;
	}
}

.alert--success
{
	background-color: $green;

	&:before
	{
		@extend %icon--checkmark;
	}
}

.alert--error
{
	background-color: $red;

	&:before
	{
		@extend %icon--delete;
	}
}
