// Animation Component

@keyframes rotation
{
    from
    {
        transform: rotate(0deg);
    }
    to
    {
        transform: rotate(359deg);
    }
}

@keyframes half-rotation
{
    from
    {
        transform: rotate(0deg);
    }
    to
    {
        transform: rotate(90deg);
    }
}

@keyframes quarter-rotation
{
    from
    {
        transform: rotate(0deg);
    }
    to
    {
        transform: rotate(90deg);
    }
}
