// $skills-1x-clean-up: true;
// $skills-1x-layout: smart;

// $skills-2x-clean-up: true;
// $skills-2x-layout: smart;

// @import "icons/skill-icons/icon-1x/*.png";
// @import "icons/skill-icons/icon-2x/*.png";

.block-grid
{
	list-style: none;
	padding: 0;
	margin: 0;
}

.block-grid__item
{
	margin: 0;
	padding: 0;

	@include breakpoint($break-small)
	{
		@include span(12);

		&:first-child
		{
			@include first;
		}
	}
}

.block-grid--tools
{
	.block-grid__item
	{
		&:first-child
		{
			@include first;
		}

		@include breakpoint($break-tiny)
		{
			@include span(12);
		}

		@include breakpoint($break-small)
		{
			@include span(8);
		}
	}
}

.skills-icon
{
	width: 75px;
	height: 75px;
}


.block-grid__icon
{
	@include span(5);
	// background: transparent sprite-url($icon-1x-sprites) no-repeat 0 0 scroll;
	width: span(5);
	width: 75px;
	// height: image-height('icons/skill-icons/icon-1x/skill-icon--print.png');
	// width: image-width('icons/skill-icons/icon-1x/skill-icon--print.png');
	// // background-repeat: no-repeat;
	// // background-size: contain;
	display: table-cell;
	// padding-bottom: $grid-padding;


	@include breakpoint($break-retina)
	{
		// background: transparent sprite-url($icon-2x-sprites) no-repeat 0 0 scroll;
		// @include background-size(image-width('generated/icons/skill-icons/icon-1x.png') image-height('generated/icons/skill-icons/icon-1x.png'));
	}
}

// .block-grid__icon--print-design
// {
// 	@extend %block-grid__icon;
// 	// @include sprite-background-position($icon-1x-sprites, 'skill-icon--print');
// }

// .block-grid__icon--web-design
// {
// 	@extend %block-grid__icon;
// 	// @include sprite-background-position($icon-1x-sprites, 'skill-icon--web');
// }

// .block-grid__icon--identity-design
// {
// 	@extend %block-grid__icon;
// 	// @include sprite-background-position($icon-1x-sprites, 'skill-icon--brand');
// }

// .block-grid__icon--drupal-theming
// {
// 	@extend %block-grid__icon;
// 	// @include sprite-background-position($icon-1x-sprites, 'skill-icon--drupal');
// }

// .block-grid__icon--app-design
// {
// 	@extend %block-grid__icon;
// 	// @include sprite-background-position($icon-1x-sprites, 'skill-icon--app');
// }

// .block-grid__icon--email-design
// {
// 	@extend %block-grid__icon;
// 	// @include sprite-background-position($icon-1x-sprites, 'skill-icon--email');
// }

.block-grid__content
{
	// @include span(18);
	// width: span(19);
	padding-left: $grid-padding;
	display: table-cell;
}

.block-grid__title
{
	text-transform: uppercase;
}