// Block grid component

$small-icon: 70px;
$medium-icon: 75px;

.skills-icon
{
	width: $small-icon;
	height: $small-icon;

	@include breakpoint($break-tiny)
	{
		width: $medium-icon;
		height: $medium-icon;
	}
}

.block-grid, .block-grid__item
{
	list-style: none;
	padding: 0;
	margin: 0;
}

.block-grid__item
{
	// margin: 0;
	// padding: 0;

	@include breakpoint($break-medium)
	{
		@include span(12);

		&:first-child
		{
			@include first;
		}
	}
}

.block-grid__icon
{
	// @include span(5);
	// width: span(5);
	float: left;
	width: $small-icon;
	// margin: 0;
	display: table-cell;

	@include breakpoint($break-tiny)
	{
		width: $medium-icon;
	}
}

.block-grid__content
{
	padding-left: $half-grid-padding;
	display: table-cell;

	@include breakpoint($break-tiny)
	{
		padding-left: $grid-padding;
	}
}

.block-grid__title
{
	text-transform: uppercase;
}

.block-grid--skills
{
	.block-grid__item
	{
		@include span(24);

		&:first-child
		{
			@include first;
		}
	}

	@include breakpoint($break-small)
	{
		.block-grid__item
		{
			@include span(12);
		}
	}
}

.block-grid--tools
{
	.block-grid__item
	{
		@include span(24);

		&:first-child
		{
			@include first;
		}
	}

	@include breakpoint($break-tiny)
	{
		.block-grid__item
		{
			@include span(12);

			&:nth-child(3)
			{
				@include span(24 at 12);
			}
		}
	}

	@include breakpoint($break-small)
	{
		.block-grid__item
		{
			@include span(8);

			&:nth-child(3)
			{
				@include span(8);
			}
		}
	}
}
