.button
{
    @extend %h4;
    display: block;
    float: left;
    margin-bottom: $grid-padding;
    padding: $half-grid-padding $grid-padding;
    transition: background-color $duration-fast $default-timing;
    text-align: center;
    text-decoration: none;
    color: $white;
    border: none;
    border-radius: $quarter-grid-padding;
    background-color: $blue;
    text-shadow: $drop-text-shadow;

    &:link, &:visited
    {
        color: $white;
    }

    &:hover
    {
        color: $white;
        background-color: shade($blue, 25%);
    }

    &:focus
    {
        color: $white;
        background-color: shade($blue, 25%);
    }

    &:active
    {
        color: $white;
    }
}

.button--success
{
    background-color: $green;

    &:hover, &:focus
    {
        background-color: shade($green, 25%);
    }
}

.button--danger
{
    background-color: $red;

    &:hover, &:focus
    {
        background-color: shade($red, 25%);
    }
}
