.form
{
	margin: 0 auto;
	width: 100%;

	@include breakpoint($break-small)
	{
		width: 60%;
	}
}

.form__item
{
	display: block;
	margin-bottom: $half-grid-padding;
	vertical-align: middle;
	position: relative;
	transform: translate3d(0,0,0); // Fix mobile safari rendering performance.
}

.form__label
{
	display: inline-block;
	cursor: pointer;
	line-height: $h4-line-height;

	@include breakpoint($break-tiny)
	{
		width: 35%;
		max-width: 150px;
		display: inline-block;
		text-align: right;
		margin-right: $quarter-grid-padding;
	}

	&.is-required
	{
		&:before
		{
			@extend %icon--required;
			margin-right: $quarter-grid-padding;
			font-size: $h6-font-size;
		}
	}
}

.form__label--textarea
{
	vertical-align: top;
}

.form__element
{
	display: inline-block;
	width: 100%;

	@include breakpoint($break-tiny)
	{
		display: inline-block;
		width: 60%;
		max-width: 300px;
	}
}

.form__element--is-invalid
{
	+ .form__instructions
	{
		@extend .is-visible;
	}
}

.form__textfield, .form__textarea
{
	transition: border $duration-fast ease-in-out;
	font-family: $mono-font;
	background-color: $white;
	padding: $quarter-grid-padding;
	border: 1px solid $image-border-color;
	text-align: left;
	border-radius: 0;
	color: $text-color;
	-webkit-appearance: none;

	&:focus
	{
		border-color: $blue;
		border-left-width: $quarter-grid-padding;
	}

	// &:required
	// {
	// 	border-color: $orange;
	// }
}

.form__textarea
{
	// display: inline-block;
	min-height: 200px;
	resize: vertical;
	vertical-align: top;
	// height: 100%;
	overflow: auto;
	vertical-align: top;
	font-weight: normal;
}

.form__button
{
	float: none;
	margin: 0;

	&:before
	{
		transition: transform 0.25s ease-in-out;
	}

	&.icon--send
	{
		&:hover, &:focus
		{
			.no-touch &
			{
				&:before
				{
					transform: translateY(-3px);
				}
			}
		}
	}

	@include breakpoint($break-huge)
	{
		// margin-left: calc(2px + 35%);
	}
}

.form__instructions
{
	text-align: center;
	font-size: $h6-font-size;
	line-height: $h6-line-height;
	color: $red;
	margin-top: $quarter-grid-padding / 2;
	width: 100%;
	font-weight: bold;
	transform: translate3d(0,0,0);  // Fix mobile safari rendering performance.

	// &:before
	// {
	// 	display: inline-block;
	// 	content: '';
	// }

	@include breakpoint($break-tiny)
	{
		width: 95%;
		max-width: 450px;

		&:before
		{
			display: inline-block;
			content: '';
			width: 35%;
			max-width: 150px;
		}
	}
}