.form
{
	margin: 0 auto;
	width: 100%;

	@include breakpoint($break-small)
	{
		width: 60%;
	}
}

.form__item
{
	display: block;
	margin-bottom: $half-grid-padding;
	vertical-align: middle;
}

.form__label
{
	display: inline-block;
	cursor: pointer;
	// vertical-align: middle;
	// margin-bottom: 2px;

	@include breakpoint($break-tiny)
	{
		width: 35%;
		max-width: 150px;
		display: inline-block;
		text-align: right;
		margin-right: $quarter-grid-padding;
	}

	&.is-required
	{
		// &:before
		// {
		// 	content: '*';
		// 	font-family: $serif-font;
		// 	color: $red;
		// 	font-size: 30px;
		// }
	}
}

.form__label--textarea
{
	vertical-align: top;
}

.form__element
{
	display: inline-block;
	width: 100%;

	@include breakpoint($break-tiny)
	{
		display: inline-block;
		width: 60%;
		max-width: 300px;
	}
}

.form__textfield, .form__textarea
{
	transition: border .25s ease-in-out;
	font-family: $mono-font;
	background-color: $white;
	padding: $quarter-grid-padding;
	border: 1px solid $image-border-color;
	text-align: left;

	&:focus
	{
		border-color: $blue;
		border-left-width: $quarter-grid-padding;
	}
}

.form__textarea
{
	// display: inline-block;
	min-height: 200px;
	resize: vertical;
	vertical-align: top;
	// height: 100%;
	overflow: auto;
	vertical-align: top;
	font-weight: normal;
}

.form__button
{
	@extend .button;
	// @extend %h4;
	// transition: background-color 0.25s ease-in-out;
	// text-align: center;
	// text-shadow: $drop-text-shadow;
	// width: 60%;
	// max-width: 300px;
	// margin-left: 35%;
	// background-color: $blue;
	// color: $white;
	// border: none;
	float: none;
	margin: 0;
	// display: inline-block;
	// padding: $half-grid-padding 0;
	// border: 1px solid shade($blue, 25%);

	&:before
	{
		transition: transform 0.25s ease-in-out;
	}

	&:hover, &:focus
	{
		background-color: shade($blue, 25%);

		.no-touch &
		{
			&:before
			{
				transform: translateY(-3px);
			}
		}
	}

	@include breakpoint($break-huge)
	{
		// margin-left: calc(2px + 35%);
	}
}