.icon--pdf {
  &::before {
    @extend %icon--pdf;
  }
}

.icon--send {
  &::before {
    @extend %icon--send;
  }
}

.icon--download {
  &::before {
    @extend %icon--download;
  }
}

.icon--required {
  &::before {
    @extend %icon--required;
  }
}

.icon--checkmark {
  &::before {
    @extend %icon--checkmark;
  }
}

.icon--refresh {
  &::before {
    @extend %icon--refresh;
  }
}

.icon--delete {
  &::before {
    @extend %icon--delete;
  }
}

.badge-link {
  display: inline-block;
  height: 40px;
  margin-right: $half-grid-padding;

  &:last-child {
    margin-right: 0;
  }
}

.badge--amazon {
  width: 128px;
  height: 40px;
}

.badge--ibooks {
  width: 112px;
  height: 40px;
}

.badge--kindle {
  width: 116px;
  height: 40px;
}
