// Image/Lightbox Component

.img
{
	transition: opacity $duration-fast ease-in-out;
}

.img-border
{
	background-color: $white;
	border: 1px solid $image-border-color;
	padding: $photo-border;
	display: block;
	vertical-align: middle;
	position: relative;

	.img
	{
		display: block;
		border: 1px solid $image-border-color;
	}
}

.lightbox-popup
{
	display: block;
	backface-visibility: hidden;
	transform: scale(1);

	&:before, .icon--zoom
	{
		transition: z-index $duration-fast ease-in-out, opacity $duration-fast ease-in-out, transform 0.15s ease-in-out;
		content: '';
		position: absolute;
		left: 0;
		right: 0;
		top: 0;
		bottom: 0;
		opacity: 0;
		display: block;
		z-index: -1;
	}

	.icon--zoom
	{
		transform: scale(.85, .85);
		width: 50%;
		height: 50%;
		margin: auto;
		fill: $black;
	}

	&:hover
	{
		cursor: zoom-in;

		&:before
		{
			opacity: .75;
			z-index: 100;
		}

		.img
		{
			opacity: .5;
		}

		.icon--zoom
		{
			opacity: 1;
			z-index: 200;
			transform: scale(1,1);
		}
	}
}

.lightbox-popup.img-border
{
	&:before
	{
		background-color: $black;
	}

	.icon--zoom
	{
		fill: $white;
	}

	&:hover
	{
		.img
		{
			opacity: 1;
		}
	}
}
