// Image/Lightbox Component

.img
{
	transition: opacity $duration-fast $default-timing;
}

.img-border
{
	position: relative;
	display: block;
	padding: $photo-border;
	vertical-align: middle;
	border: 1px solid $image-border-color;
	border-radius: 2px;
	background-color: $white;

	.img
	{
		display: block;
		border: 1px solid $image-border-color;
		border-radius: 1px;
	}
}

.lightbox-popup
{
	display: block;
	transform: scale(1);
	transform: scale3d(1, 1, 1);
	// backface-visibility: hidden;

	&:before, .icon--zoom
	{
		position: absolute;
		z-index: 100;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		display: block;
		content: '';
		transition: z-index $duration-fast $default-timing, opacity $duration-fast $default-timing, transform 0.15s $default-timing;
		opacity: 0;
	}

	.icon--zoom
	{
		width: 50%;
		height: 50%;
		margin: auto;
		transform: scale(0.85, 0.85);
		transform: scale3d(0.85, 0.85, 0.85);
		fill: $black;
	}

	&:hover
	{
		cursor: zoom-in;

		&:before
		{
			// z-index: 100;
			opacity: 0.75;
		}

		.img
		{
			opacity: 0.5;
		}

		.icon--zoom
		{
			z-index: 200;
			transform: scale(1, 1);
			transform: scale3d(1, 1, 1);
			opacity: 1;
		}
	}
}

.lightbox-popup
{
	position: relative;

	&.img-border
	{
		&:before
		{
			background-color: $black;
		}

		.icon--zoom
		{
			fill: $white;
		}

		&:hover
		{
			.img
			{
				opacity: 1;
			}
		}
	}
}
