.list-column
{
	text-align: left;

	@include breakpoint($break-tiny)
	{
		text-align: center;

		+ .list-column
		{
			margin-left: $grid-padding;
		}
	}
}

.list-column__header
{
	margin-bottom: $quarter-grid-padding;
	text-align: center;
	text-transform: uppercase;
	color: $black;
}

.list-column__item
{
	display: inline-block;
	vertical-align: top;
	text-align: left;

	@include breakpoint($break-medium)
	{
		+ .list-column__item
		{
			margin-left: $grid-padding;
		}
	}
}

.list-column--skills
{
	.list-column__item
	{
		&:first-child
		{
			margin: 0;

			@include breakpoint($break-tiny)
			{
				margin: 0 0 $grid-padding 0;
			}
		}
	}
}

.list-column--tools
{

}