.list--column
{
	text-align: left;

	@include breakpoint($break-tiny)
	{
		text-align: center;

		+ .list--column
		{
			margin-left: $grid-padding;
		}
	}
}

.list--column__header
{
	margin-bottom: $quarter-grid-padding;
	text-align: center;
	text-transform: uppercase;
	color: $black;
}

.list--column__item
{
	display: inline-block;
	vertical-align: top;
	text-align: left;

	@include breakpoint($break-medium)
	{
		+ .list--column__item
		{
			margin-left: $grid-padding;
		}
	}
}

.list--skills
{

}

.list--tools
{

}