---
layout: default
title: Work | Patrick Cate's Portfolio
description: Portfolio piece examples from Graphic Designer Patrick Cate.
id: work
---
{% assign project-order = site.data.project-order %}
{% assign projects = site.project %}
<section id="l-anchor--work" class="l-section l-section--work l-section--has-divider">
    <div class="l-section__divider l-section__divider--work"><svg class="l-section__icon l-section__icon--work"><use xlink:href="#section__icon--work"></use></svg>
    </div>
    <div class="l-section__content">
        <header class="l-section__header"><h2 class="l-section__title"><span class="uppercase">My Work</span> <small class="l-section__subtitle">(What I've Done)</small></h2></header>
        {% for project in projects %}
            {% if project.url == project-order.first %}
                {{ project.output }}
            {% endif %}
        {% endfor %}
    </div>
</section>
{% for order in project-order | offset: 1 %}
    {% for project in projects %}
        {% if project.url == order %}
            {{ project.output }}
        {% endif %}
    {% endfor %}
{% endfor %}
