<!doctype html>
<!--[if IE 9]><html class="no-js lt-ie10" lang="en" itemscope itemtype="http://schema.org/WebPage"><![endif]-->
<!--[if gt IE 9]><!--><html class="no-js" lang="en" itemscope itemtype="http://schema.org/WebPage"><!--<![endif]-->
{% include head.html %}
<body>
    {% include svg-sprite--{{page.id | classify}}.svg %}
    <!--[if lt IE 9]>
        <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->
    {% include header.html %}
    <main id="js-content" class="l-content l-content--{{page.id | classify}}">
        <div id="js-content__inner" class="l-content__inner">
            {{ content }}
            {% include footer.html %}
        </div>
    </main>
    <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
    ga('create', 'UA-7560343-1', 'auto');
    ga('send', 'pageview');
    </script>
</body>
</html>
