// Grid Component

.clearfix
{
	@extend %clearfix;
}

.clear
{
	clear: both;
}

.leader
{
	margin-top: $grid-padding;
}

.half-leader
{
	margin-top: $half-grid-padding;
}

.quarter-leader
{
	margin-top: $quarter-grid-padding;
}

.trailer
{
	margin-bottom: $grid-padding;
}

.half-trailer
{
	margin-bottom: $half-grid-padding;
}

.quarter-trailer
{
	margin-bottom: $quarter-grid-padding;
}

.align-left
{
	float: left;
}

.align-right
{
	float: right;
}
