.uppercase {
  text-transform: uppercase !important;
}

.text-green {
  color: $green !important;
}

.text-blue {
  color: $blue !important;
}

.text-red {
  color: $red !important;
}

.text-purple {
  color: $purple !important;
}

.text-orange {
  color: $orange !important;
}

.text-grey {
  color: $grey !important;
}

.text-white {
  color: $white !important;
}

.text-black {
  color: $black !important;
}

.text-center {
  text-align: center !important;
}
