// Visibility Component

.hide
{
	display: none!important;
}

.visible
{
	visibility: visible!important;
}

.invisible
{
	visibility: hidden!important;
}

.is-hidden
{
	position: absolute;
	z-index: -10;
	visibility: hidden;
	overflow: hidden;
	pointer-events: none;
}

.is-visible
{
	position: static;
	z-index: 10;
	visibility: visible;
	overflow: visible;
	pointer-events: auto;
}

.visually-hidden
{
	position: absolute;
	overflow: hidden;
	clip: rect(0 0 0 0);
	width: 1px;
	height: 1px;
	margin: -1px;
	padding: 0;
	border: 0;
}

.visually-hidden.focusable:active, .visually-hidden.focusable:focus
{
	position: static;
	overflow: visible;
	clip: auto;
	width: auto;
	height: auto;
	margin: 0;
}

// .js .js-initially-hidden
// {
// 	transition: opacity 1s ease-in-out .5s, transform 1s ease-in-out .5s;
// 	opacity: 0;
// 	transform: translateY(50px);

// 	+ .js-initially-hidden
// 	{
// 		transition-delay: 1s;
// 	}

// 	&.is-onscreen
// 	{
// 		opacity: 1;
// 		transform: translateY(0);
// 	}
// }