%noise-background
{
	background-image: image-url('bg/noise-background.png');
}

.l-content
{
	.touch &
	{
		width: 100%;
		overflow-x: hidden;
		overflow-y: scroll;
		height: 100%;
	}
}

.l-content__inner
{
	@extend %clearfix;
	@extend %noise-background;

	padding-top: 50px + ($grid-padding * 2);
	padding-top: 100px;

	// @include breakpoint(360px)
	// {
	// 	padding-top: 50px + $quarter-grid-padding + ($grid-padding * 2);
	// }

	.webapp &
	{
		padding-top: 100px + $half-grid-padding + $quarter-grid-padding;
	}

	@include breakpoint($break-tiny)
	{
		padding-top: 50px + $grid-padding;

		.webapp &
		{
			padding-top: 50px + $grid-padding + $half-grid-padding + $quarter-grid-padding;
		}
	}

	@include breakpoint($break-small)
	{
		padding-top: 50px + ($grid-padding * 2);
		padding-top: 95px;

		.webapp &
		{
			padding-top: 95px + $half-grid-padding + $quarter-grid-padding;
		}
	}

	.touch &
	{
		position: absolute;
		-webkit-overflow-scrolling: touch;
		top: 0;
		width: 100%;
		overflow: auto;
		overflow-x: hidden;
		overflow-y: scroll;
		height: 100%;
	}
}

.l-section
{
	@extend %noise-background;
	background-color: $white;
	position: relative;

	&:nth-of-type(odd)
	{
		background-color: $content-background-color;
	}

	+ .l-section
	{
		border-top: 1px solid $content-border-color;
	}
}


.l-section__content
{
	@extend %container;
	padding-top: $grid-padding;
	padding-bottom: $grid-padding;
}

.l-section__divider
{
	height: 4px;
	background-color: $blue;

	+ .l-section
	{
		border-top: none;
	}
}

.l-section__divider--work, .l-section__divider--contact
{
	margin-top: 50px;
}

.l-section__divider--work
{
	+ .l-section__content
	{
		padding: $grid-padding 0 0 0;
	}
}

$section-icon-size: 50px;

.l-section__icon
{
	position: absolute;
	left: 0;
	right: 0;
	top: -#{$section-icon-size / 2};
	height: $section-icon-size;
	width: $section-icon-size;
	margin: 0 auto;
	z-index: 1;
	// background: transparent sprite-url($icon-1x-sprites) no-repeat 0 0 scroll;

	@include breakpoint($break-retina)
	{

		// background: transparent sprite-url($icon-2x-sprites) no-repeat 0 0 scroll;
		// @include background-size(image-width('generated/icons/section-icons/icon-1x.png') image-height('generated/icons/section-icons/icon-1x.png'));
	}
}

.l-section__header
{
	text-align: center;
}

.l-section__title
{
	color: $blue;
	margin: $quarter-grid-padding 0;
}

.l-section__subtitle
{
	display: inline-block;
	font-size: $h4-font-size;
}
