%noise-background {
  background-image: url('img/bg/noise-background.png');
  background-repeat: repeat;

  @include breakpoint($break-retina) {
    background-image: url('img/bg/noise-background@2x.png');
  }
}

.l-content {
  .touch & {
    overflow: auto;
    overflow-x: hidden;
    overflow-y: scroll;
    width: 100%;
    height: 100%;
    -webkit-overflow-scrolling: touch;
  }
}

.l-content__inner {
  @extend %clearfix;
  @extend %noise-background;
  padding-top: 100px;
}

.webapp {
  .l-content__inner {
    padding-top: 100px + $half-grid-padding + $quarter-grid-padding;
  }
}

@include breakpoint($break-small) {
  .l-content__inner {
    padding-top: 50px + $grid-padding;
  }

  .webapp {
    .l-content__inner {
      padding-top: 50px + $grid-padding + $half-grid-padding + $quarter-grid-padding;
    }
  }
}

@include breakpoint($break-medium) {
  .l-content__inner {
    padding-top: 95px;
  }

  .webapp {
    .l-content__inner {
      padding-top: 95px + $half-grid-padding + $quarter-grid-padding;
    }
  }
}
