.l-footer
{
	@extend %noise-background;
	background-color: $blue;
	// background-image: image-url('bg/noise-background.png');
	color: $white;
	// @extend %clearfix;
	// position: absolute;
	// left: 0;
	// right: 0;
	// bottom: 0;
	// height: 100px;
}

.l-footer__inner
{
	@extend %container;
	padding: ($grid-padding * 2) $grid-padding;
}

.l-footer__copyright
{
	text-align: center;
}