.l-footer
{
	@extend %noise-background;
	color: $white;
	background-color: $blue;
	text-shadow: $drop-text-shadow;

	a
	{
		color: $white;

		&:link, &:visited
		{
			color: $white;
		}

		&:hover, &:focus, &:active
		{
			color: $gold;
		}
	}
}

.l-footer__inner
{
	@extend %container;
	padding: ($grid-padding * 2) $grid-padding;
}

.l-footer__copyright
{
	text-align: center;
}
