.l-footer
{
	@extend %noise-background;
	background-color: $blue;
	color: $white;
	text-shadow: $drop-text-shadow;

	a
	{
		@include link-colors($white, $gold, $white, $white, inherit);
	}
}

.l-footer__inner
{
	@extend %container;
	padding: ($grid-padding * 2) $grid-padding;
}

.l-footer__copyright
{
	text-align: center;
}
