.l-header
{
	@extend %noise-background;
	transition: transform .25s ease-in-out;
	background-color: rgba($blue, .95);
	color: $white;
	text-shadow: $drop-text-shadow;
	width: 100%;
	z-index: 1000;
	position: fixed;
	left: 0;
	right: 0;
	top: 0;
	bottom: auto;
	padding: 0;

	// position: sticky;
	// -webkit-backface-visibility: hidden;

	// .csspositionsticky &
	// {
	// 	position: sticky;

	// 	+ .l-content
	// 	{
	// 		padding-top: 0!important;
	// 	}
	// }

	// &.headroom--unpinned
	// {
	// 	transform: translateY( -#{image-height('logo/logo.png') + $half-grid-padding} )!important;
	// }

	// &.headroom--pinned, &:hover
	// {
	// 	transform: translateY(0)!important;
	// }

	// @include breakpoint( (min-height $break-small, $break-small) )
	// {
	// 	&.headroom--unpinned, &.headroom--pinned
	// 	{
	// 		transform: translateY(0);
	// 	}
	// }

	// @include breakpoint( (min-height $break-small) )
	// {
	// 	&.l-header.headroom--unpinned, &.l-header.headroom--pinned
	// 	{
	// 		transform: translateY(0);
	// 	}
	// }
}

.l-header__inner
{
	// @extend %clearfix;
	@extend %container;
	padding: $half-grid-padding $grid-padding 0 $grid-padding;
	// transition: padding 0.25s ease-in-out;

	@include breakpoint($break-tiny)
	{
		padding: $half-grid-padding $grid-padding $quarter-grid-padding $grid-padding;

		// .headroom--unpinned &
		// {
		// 	padding: $quarter-grid-padding $grid-padding $quarter-grid-padding $grid-padding;
		// 	// background-color: red;
		// }
	}
}

.l-headline
{
	// @extend %clearfix;
	// @include span(first 12);
	// width: 240px;

	@include breakpoint($break-tiny)
	{
		float: left;
		margin-right: $half-grid-padding;
		// width: 260px;
		// @include span(first 10);
	}
}

$logo-size--small: 50px;
$logo-size--medium: 75px;

.site-logo
{
	display: block;
	float: left;
	// background-repeat: no-repeat;
	// background-size: contain;
	// background-image: image-url('logo/logo.png');
	// height: image-height('logo/logo.png');
	// width: image-width('logo/logo.png');
	margin-right: $half-grid-padding;

	.logo
	{
		width: $logo-size--small - 1px;
		height: $logo-size--small;
		transition: height 0.25s ease-in-out, width 0.25s ease-in-out;
		// filter: drop-shadow($drop-text-shadow);

		@include breakpoint($break-small)
		{
			width: $logo-size--medium - 1px;
			height: $logo-size--medium;

			// .headroom--unpinned &
			// {
			// 	width: $logo-size--small - 1px;
			// 	height: $logo-size--small;
			// }
		}
	}
}

.site-headline
{
	margin-top: $quarter-grid-padding / 2;
	// @include breakpoint($break-tiny)
	// {
	// 	margin-top: $quarter-grid-padding;
	// }

	@include breakpoint($break-small)
	{
		margin-top: $half-grid-padding;

		// .headroom--unpinned &
		// {
		// 	margin-top: 0;
		// }
	}
}

.site-tagline
{
	@include breakpoint($break-tiny)
	{
		font-size: $h6-font-size;
		line-height: $h6-line-height;
	}

	@include breakpoint($break-small)
	{
		font-size: $h5-font-size;
		line-height: $h5-line-height;
	}
}
