.l-header
{
    @extend %noise-background;
    position: fixed;
    z-index: 1000;
    top: 0;
    right: 0;
    bottom: auto;
    left: 0;
    width: 100%;
    padding: 0;
    transition: transform $duration-fast $default-timing;
    color: $white;
    background-color: rgba($blue, 0.95);
    text-shadow: $drop-text-shadow;
    will-change: transform;
}

.l-header__inner
{
    @extend %container;
    padding: $half-grid-padding $grid-padding;

    // .no-webapp &
    // {
    // 	padding-top: $half-grid-padding;
    // }
}

.site-logo
{
    display: block;
    float: left;
    height: $logo-size--small;
    margin-right: $half-grid-padding;

    .logo
    {
        width: $logo-size--small - 1px;
        height: $logo-size--small;
        transition: height $duration-fast $default-timing, width $duration-fast $default-timing;
    }
}

.site-headline
{
    margin-top: $quarter-grid-padding;
}

// .site-tagline
// {
//
// }

@include breakpoint($break-small)
{
    .l-headline
    {
        float: left;
        margin-right: $half-grid-padding;
    }

    .site-tagline
    {
        font-size: $h6-font-size;
        line-height: $h6-line-height;
    }
}

@include breakpoint($break-medium)
{
    .site-logo
    {
        height: $logo-size--medium;

        .logo
        {
            width: $logo-size--medium - 1px;
            height: $logo-size--medium;
        }
    }

    .site-headline
    {
        margin-top: $half-grid-padding;
    }

    .site-tagline
    {
        font-size: $h5-font-size;
        line-height: $h5-line-height;
    }
}
