
.l-navigation
{
	@extend %clearfix;
	clear: both;
	padding: $half-grid-padding 0 0 0;

	@include breakpoint($break-tiny)
	{
		padding: ($grid-padding) 0 0 0;
		text-align: right;
		clear: none;
		float: right;
	}

	@include breakpoint($break-small)
	{
		padding: ($grid-padding + $quarter-grid-padding) 0 $grid-padding 0;
	}
}

.nav__item
{
	@include span(8 of 24);

	&:first-child
	{
		@include first;
	}

	@include breakpoint($break-tiny)
	{
		width: auto;
		float: none;
		display: inline-block;
	}

	+ .nav__item
	{
		// margin-left: $half-grid-padding;

		@include breakpoint($break-tiny)
		{
			margin-left: $half-grid-padding;
		}

		@include breakpoint($break-small)
		{
			margin-left: $half-grid-padding + $quarter-grid-padding;
		}
	}
}

.nav__link
{
	@extend %h5;
	@include link-colors($white, $gold, $white, $white, inherit);
	display: block;
	text-decoration: none;
	// text-align: center;

	&:before
	{
		@extend %icon--before;
		// font-family: $icon-font;
		// font-size: inherit;
		font-size: $h6-font-size;
		// text-decoration: none;
		// font-weight: normal;
		// speak: none;
		// line-height: 1;
		// vertical-align: inherit;
		margin-right: $quarter-grid-padding;

		@include breakpoint($break-small)
		{
			font-size: $h5-font-size;
		}
	}

	&:hover, &:focus
	{

		// .nav__icon
		// {
		// 	fill: $gold;
		// }

		.nav__text
		{
			text-decoration: underline;
		}
	}

	@include breakpoint($break-small)
	{
		font-size: $h4-font-size;
		line-height: $h4-line-height;
	}
}

.nav__link--is-active-first
{
	color: $gold!important;
	// text-decoration: underline;
	.nav__text
	{
		text-decoration: underline;
	}
	// .nav__icon
	// {
	// 	fill: $gold;
	// }
}

// %nav__link--icon
// {
// 	&:before
// 	{
// 		content: '';
// 		display: inline-block;
// 		margin-right: $quarter-grid-padding;
// 		vertical-align: middle;
// 		margin-top: -2px;
// 	}
// }

.nav__icon
{
	// transition: fill 0.25s ease-in-out;
	// display: inline-block;
	// margin-right: $quarter-grid-padding;
	// vertical-align: middle;
	// // filter: drop-shadow($drop-text-shadow);
	// fill: $white;
	// margin-top: -4px

	// fill: $white!important;

	// path, circle
	// {
	// 	fill: $white;
	// }

	// *
	// {
	// 	fill: $red;
	// }

	// &:hover
	// {
	// 	// *
	// 	// {
	// 		fill: $gold;
	// 	// }



	// }
}

// .nav__icon--about
// {
// 	height: 16px;
// 	width: 6.58px;

// 	// fill: $white!important;
// }

// // .nav__icon--skills
// // {
// // 	height: 20px;
// // 	width: 9px;
// // }

// // .nav__icon--tools
// // {
// // 	height: 20px;
// // 	width: 9px;
// // }

// .nav__icon--work
// {
// 	height: 20px;
// 	width: 21.142px;
// 	margin-top: -6px
// }

// .nav__icon--contact
// {
// 	height: 16px;
// 	width: 24px;
// 	// margin-top: -4px
// }

// #nav-icon--about
// {
// 	fill: $white;

// 	*
// 	{
// 		fill: $white;
// 	}
// }

// .nav__link--about
// {
// 	// transition: all 1s ease-in-out;


.nav__link--about
{
	&:before
	{
		content: "\e602";
	}
}

.nav__link--work
{
	&:before
	{
		content: "\e601";
		font-size: $h5-font-size;

		@include breakpoint($break-small)
		{
			font-size: $h4-font-size;
		}
	}
}
.nav__link--contact
{
	&:before
	{
		content: "\e600";
	}
}

// .button--refresh
// {
// 	@include link-colors($white, $gold, $white, $white, inherit);
// 	transition: color 0.25s ease-in-out;
// 	background: none;
// 	margin: 0;
// 	padding: 0;
// 	border: none;
// 	text-shadow: $drop-text-shadow;
// 	float: right;
// 	font-size: $h2-font-size;
// 	line-height: $h2-line-height;
// 	margin-top: $half-grid-padding;

// 	&:before
// 	{
// 		margin-right: 0;
// 	}

// 	@include breakpoint($break-tiny)
// 	{
// 		margin-left: $grid-padding;
// 	}

// 	@include breakpoint($break-small)
// 	{
// 		margin-top: $grid-padding;
// 	}

// 	@include breakpoint($break-medium)
// 	{
// 		margin-left: $grid-padding * 2;
// 	}
// }