.l-navigation {
  @extend %clearfix;
  clear: both;
  padding: $half-grid-padding 0 0;

  @include breakpoint($break-small) {
    float: right;
    clear: none;
    padding: ($grid-padding) 0 0;
    text-align: right;
  }

  @include breakpoint($break-medium) {
    padding: ($grid-padding + $quarter-grid-padding) 0 $grid-padding 0;
  }
}

.nav__item {
  @include span(8 of 24);

  @include breakpoint($break-small) {
    display: inline-block;
    float: none;
    width: auto;
  }

  &:first-child {
    @include first;
  }

  + .nav__item {
    @include breakpoint($break-small) {
      margin-left: $half-grid-padding;
    }

    @include breakpoint($break-medium) {
      margin-left: $half-grid-padding + $quarter-grid-padding;
    }
  }
}

.nav__link {
  @extend %h5;
  display: block;
  text-decoration: none;
  color: $white;
  will-change: color;
  @include breakpoint($break-medium) {
    font-size: $h4-font-size;
    line-height: $h4-line-height;
  }

  &:link,
  &:visited {
    color: $white;
  }

  &:active,
  &:focus,
  &:hover {
    color: $gold;
  }

  &:focus,
  &:hover {
    .nav__text {
      text-decoration: underline;
    }
  }

  &::before {
    @extend %icon--before;
    margin-right: $quarter-grid-padding;
    font-size: $h6-font-size;
    @include breakpoint($break-medium) {
      font-size: $h5-font-size;
    }
  }
}

.nav__link--is-active-first {
  color: $gold !important;

  .nav__text {
    text-decoration: underline;
  }
}

.nav__link--about {
  &::before {
    content: '\e602';
  }
}

.nav__link--work {
  &::before {
    content: '\e601';
    font-size: $h5-font-size;
    @include breakpoint($break-medium) {
      font-size: $h4-font-size;
    }
  }
}

.nav__link--contact {
  &::before {
    content: '\e600';
  }
}
// .button--refresh
// {
// 	@include link-colors($white, $gold, $white, $white, inherit);
// 	transition: color 0.25s $default-timing;
// 	background: none;
// 	margin: 0;
// 	padding: 0;
// 	border: none;
// 	text-shadow: $drop-text-shadow;
// 	float: right;
// 	font-size: $h2-font-size;
// 	line-height: $h2-line-height;
// 	margin-top: $half-grid-padding;
// 	&::before
// 	{
// 		margin-right: 0;
// 	}
// 	@include breakpoint($break-small)
// 	{
// 		margin-left: $grid-padding;
// 	}
// 	@include breakpoint($break-medium)
// 	{
// 		margin-top: $grid-padding;
// 	}
// 	@include breakpoint($break-large)
// 	{
// 		margin-left: $grid-padding * 2;
// 	}
// }
