.l-navigation
{

	clear: both;
	padding: $half-grid-padding 0;
	// @include span(first 14);

	@include breakpoint($break-medium)
	{
		@include span(first 15);
		padding: ($grid-padding + $quarter-grid-padding) 0 $grid-padding 0;
		text-align: right;
		clear: none;
		float: right;
	}
}

.nav__item
{
	display: inline-block;

	+ .nav__item
	{
		margin-left: $half-grid-padding;

		@include breakpoint($break-large)
		{
			margin-left: $half-grid-padding + $quarter-grid-padding;
		}
	}
}

.nav__item--skills
{
	display: none;

	@include breakpoint(400px)
	{
		display: inline-block;
	}
}

.nav__item--tools
{
	display: none;

	@include breakpoint($break-tiny)
	{
		display: inline-block;
	}
}

// .nav__item--is-active
// {
// 	.nav__link
// 	{
// 		color: $gold!important;
// 		text-decoration: underline;
// 	}
// }

.nav__link
{
	@extend %h5;
	@include link-colors($white, $gold, $white, $white, inherit);
	display: block;
	text-decoration: none;

	&:hover
	{
		text-decoration: underline;
	}

	@include breakpoint(550px)
	{
		font-size: $h4-font-size;
		line-height: $h4-line-height;
	}
}

.nav__link--is-active-first
{
	color: $gold!important;
	text-decoration: underline;
}

%nav__link--icon
{
	&:before
	{
		content: '';
		display: inline-block;
		margin-right: $quarter-grid-padding;
		vertical-align: middle;
		margin-top: -2px;
	}
}

.nav__link--about
{
	&:before
	{
		@extend %nav__link--icon;
		background: transparent image-url('icon/icon--nav-about.png') no-repeat 0 center scroll;
		height: image-height('icon/icon--nav-about.png');
		width: image-width('icon/icon--nav-about.png');
	}

	.no-touch &
	{
		&:hover
		{
			&:before
			{
				background-image: image-url('icon/icon--nav-about-active.png');
			}
		}
	}

	&.nav__link--is-active-first
	{
		&:before
		{
			background-image: image-url('icon/icon--nav-about-active.png');
		}
	}
}

.nav__link--skills
{
	&:before
	{
		@extend %nav__link--icon;
		background: transparent image-url('icon/icon--nav-skills.png') no-repeat 0 center scroll;
		height: image-height('icon/icon--nav-skills.png');
		width: image-width('icon/icon--nav-skills.png');
	}

	.no-touch &
	{
		&:hover
		{
			&:before
			{
				background-image: image-url('icon/icon--nav-skills-active.png');
			}
		}
	}

	&.nav__link--is-active-first
	{
		&:before
		{
			background-image: image-url('icon/icon--nav-skills-active.png');
		}
	}
}


.nav__link--tools
{
	&:before
	{
		@extend %nav__link--icon;
		background: transparent image-url('icon/icon--nav-tools.png') no-repeat 0 center scroll;
		height: image-height('icon/icon--nav-tools.png');
		width: image-width('icon/icon--nav-tools.png');
	}

	.no-touch &
	{
		&:hover
		{
			&:before
			{
				background-image: image-url('icon/icon--nav-tools-active.png');
			}
		}
	}

	&.nav__link--is-active-first
	{
		&:before
		{
			background-image: image-url('icon/icon--nav-tools-active.png');
		}
	}
}

.nav__link--work
{
	&:before
	{
		@extend %nav__link--icon;
		background: transparent image-url('icon/icon--nav-work.png') no-repeat 0 center scroll;
		height: image-height('icon/icon--nav-work.png');
		width: image-width('icon/icon--nav-work.png');
	}

	.no-touch &
	{
		&:hover
		{
			&:before
			{
				background-image: image-url('icon/icon--nav-work-active.png');
			}
		}
	}

	&.nav__link--is-active-first
	{
		&:before
		{
			background-image: image-url('icon/icon--nav-work-active.png');
		}
	}
}

.nav__link--contact
{
	&:before
	{
		@extend %nav__link--icon;
		background: transparent image-url('icon/icon--nav-contact.png') no-repeat 0 center scroll;
		height: image-height('icon/icon--nav-contact.png');
		width: image-width('icon/icon--nav-contact.png');
	}

	.no-touch &
	{
		&:hover
		{
			&:before
			{
				background-image: image-url('icon/icon--nav-contact-active.png');
			}
		}
	}

	&.nav__link--is-active-first
	{
		&:before
		{
			background-image: image-url('icon/icon--nav-contact-active.png');
		}
	}
}