// Content Section layout

.l-section {
  @extend %noise-background;
  // position: relative;
  background-color: $white;

  &:nth-of-type(odd) {
    background-color: $content-background-color;
  }

  &.l-section--has-divider {
    position: relative;
  }

  + .l-section {
    border-top: 1px solid $content-border-color;
  }
}

.l-section__content {
  @extend %container;
  padding-top: $grid-padding;
  padding-bottom: $grid-padding;
}

.l-section__divider {
  height: 4px;
  background-color: $blue;

  + .l-section {
    border-top: none;
  }
}

.l-section__divider--contact,
.l-section__divider--work {
  margin-top: 50px;
}

.l-section__divider--work {
  + .l-section__content {
    padding: $grid-padding 0 0;
  }
}

.l-section__icon {
  position: absolute;
  z-index: 1;
  top: -#{$section-icon-size / 2};
  right: 0;
  left: 0;
  width: $section-icon-size;
  height: $section-icon-size;
  margin: 0 auto;
}

.l-section__header {
  text-align: center;
}

.l-section__title {
  margin: $quarter-grid-padding 0;
  color: $blue;
}

.l-section__subtitle {
  display: inline-block;
  font-size: $h4-font-size;
}

@include breakpoint($break-large) {
  .l-section--intro {
    .button {
      float: right;
      margin-top: -#{$grid-padding * 3};
      margin-bottom: 0;
    }
  }
}
